*{
	padding:0%;
	margin:0%;
	box-sizeing:border-size;

}

#container{
	padding-top:30px;
	
}
div{
	padding-top:30px;
	width:30%;
	height:500px;
	background-color:#ADD8E6;
	border-radius:10px 10px 10px 10px;
	margin:auto;
	text-align:center;
	box-shadow : 2px 2px;
	
}
img{
	width:30%;
	height:150px;
	border-radius:100px;
}
h3,p{
	padding-top:20px;
}
h4{
	padding-top:20px;
	font-style:italic;
}
i{
	color:red;
	font-size:30px;
	padding-left:20px;
}
p{
	display:none;
}
h4:hover+p{
	display:block;
}